@{
    ViewBag.Title = "Home Page";
}
<body style="background-image:url(https://www.wallpapersbyte.com/wp-content/uploads/2015/09/Pizza-Food-Cheese-Pieces-WallpapersByte-com-1366x768.jpg);">
    <div class="jumbotron">
        <h1>Pizza Store</h1>
        <p class="lead">Welcome To Pizza Store</p>
    </div>
    <p><a class="btn btn-default" href="~/Default">Continue &raquo;</a></p>
</body>
